<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TableVisTest</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="/static/app.js"></script>
    <script src="/static/visualizer.js"></script>
    <script src="/static/admin.js"></script>
    <link rel="stylesheet" href="/static/styleAdmin.css">
</head>

<body>

    <div class="container-fluid admin-panel">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">ADMIN</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link nav-load" href="#">Load <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-new" href={{ url_for('admin.clear') }}>New</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Edit
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item nav-add-tables" href="#">Add tables</a>
                            <a class="dropdown-item nav-add-walls" href="#">Add walls</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Save
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item nav-update" href="#">Update current</a>
                            <a class="dropdown-item nav-save" href="#">Save as new </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-delete" href="#">Delete</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="card-header text-center">
            {% if session %}
            {{session}}
            {% else %}
            Default
            {% endif %}
        </div>


        <div class="card card-load text-center card-body">
            <h5 class="card-title">Load a setup</h5>
            <form action="{{ url_for('admin.load') }}" method="post">
                <select name="restaurants" class="custom-select mb-3" id="mydropdown">
                    <option value="Default">Select a restaurant</option>
                    {% for restaurant in restaurants %}
                    <option value={{restaurant}}>{{restaurant}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <hr>
        </div>




        {% if newroomplan %}
        <div class="card text-center card-new">

            <h5 class="card-title">Use the edit tools to add items on this restaurant</h5>

        </div>
        {% endif %}






        <div class="card text-center card-add-tables"></div>

        <div class="card-body card text-center card-add-tables">
            <h5 class="card-title">Add tables</h5>
            <hr>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm">
                        <h6 class="card-subtitle mb-2 text-muted">Customize size</h6>
                        <h6 class="card-subtitle mb-2">Width: <span id="table-width">282 </span> Height: <span id="table-height">12</span></h6>
                        <div id="resizable" class="ui-widget-content">
                        </div>
                    </div>
                    <div class="col-sm">
                        <h6 class="card-subtitle mb-2 text-muted">Number of people on this table</h6>
                        <select id="capacityList">
                            <option value="2">2</option>
                            <option value="4">4</option>
                            <option value="6">6</option>
                            <option value="8">8</option>
                            <option value="10">10</option>
                            <option value="12">12</option>
                            <option value="14">14</option>
                            <option value="16">16</option>
                            <option value="18">18</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <h6 class="card-subtitle mb-2 text-muted">Add this table to the roomplan</h6>
                        <button type="submit" class="btn btn-primary" id="addBtn">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-update text-center ">
            <div class="card-body">
                {% if session %}
                <h5 class="card-title">Do you want to update the {{session}} roomplan?</h5>
                <a href="#" class="btn btn-primary" id="updateBtn">Yes</a>
                <div class="alert alert-info" id="update-response-text">
                </div>
                <hr>
            {% else %}
            <h5 class="card-title">This roomplan is not stored</h5>
            <hr>
            {% endif %}
        </div>
      </div>


    <div class="card card-save text-center ">
        <div class="card-body">
            <div class="form-group">
                <label for="tableNameForm">Give this roomplan a name and click on the save button</label>
                <input type="text" class="form-control" id="tableNameForm" placeholder="Table name..">
            </div>
            <a href="#" class="btn btn-primary" id="saveBtn">Submit</a>
            <div class="alert alert-info" id="save-response-text">
            </div>
            <hr>
        </div>
    </div>
    


    <div class="card card-delete text-center ">
        <div class="card-body">
            <div class="form-group">
                <form action="{{ url_for('admin.delete') }}" method="post">
                <label for="tableNameForm">Enter the name of roomplan you want to delete</label>
                <input type="text" class="form-control" name="deletedname" placeholder="Name of roomplan..">
            </div>
            <button  name="submit_button" type="submit" class="btn btn-primary">Delete roomplan</button>
          </form>
            <hr>
        </div>
      </div>
    
  </div>










    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/adminMenu.js"></script>

</body>

</html>