

  <h2 class="h2-1">Add/remove tables</h2>
    <div class="table-toolbox">
        <div class="table-box"> <p>Table sizes</p></div>
        <div class="table-box box1" onclick="addTable(60,40)"></div>
        <div class="table-box box2" onclick="addTable(100,40)"></div>
        <div class="table-box box3" onclick="addTable(140,40)"></div>
        </div>

<h2 class="h2-2">Save this table layout</h2>

        <div class="save-table">
            <p>Give this table layout a name and click on the save button</p>
            <div class="center-forms">
 <label>Name: <input class="text-input" type="text" id="table-name" name="name"/>  </label> <br>
 <label><input onclick="saveTableSetup()" name="submit_button" class="submitbutton" type="submit" value="Save table layout" /></label>
    </div>
            <p id="response-text"></p>
            </div>


            <h2 class="h2-3"> Delete a table layout </h2>
        <div class="delete-table">
            <p>Enter the name of a table layout and click the delete button</p>
            <div class="center-forms">
                <form action="{{ url_for('admin') }}" method="post">
  <label>Name: <input class="text-input" type="text" name="deletedname"/> </label> <br>
 <label><input name="submit_button" class="submitbutton" type="submit" value="Delete table layout" /></label>
        </form>
                </div>
</div>


