svg {
    background-color: white;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
body {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
text {
    fill: black;
}

#InteractiveSVGWrapper {
    position: absolute;
    width: 100%;
}
.tables {
    fill: #116802;
}
.table-selected {
    stroke: blue;
    stroke-width: 2px;
}
.table-booked {
    fill: #4d5b4b;
}
.room {
    fill: darkgray;
}