svg {
    background-color: white;
    border: 1px solid gray;
}

line {
    stroke: darkgrey;
}

path {
    fill: whitesmoke;
    stroke: none;
}

body {
    display: flex;
    justify-content: center;
    min-height: 1200px;
}

#InteractiveSVGWrapper {
    position: absolute;
}