svg {
    background-color: white;
}

body {
    display: flex;
    justify-content: center;
}

#InteractiveSVGWrapper {
    position: absolute;
    --mywidth: calc(100%);
    width: var(--mywidth);
}
.table {
    fill: black;
}
.table-selected {
    stroke: red;
    stroke-width: 2px;
}
.room {
    fill: darkgray;
}