html, body {
  height: 100%;
  margin: 0;
  background: grey;
  }
#InteractiveSVGWrapper {
  max-width: 700px;
  position: relative;;
  bottom: -210px;
}
.card-body .btn{
  margin-bottom: 5px;
}
.navbar{
  min-width: 100%;
}
svg {
  background-color: white;
}

body {
  display: flex;
  justify-content: center;
}
#InteractiveSVGWrapper {
  position: absolute;
  width: 100%;
}
.table {
  fill: green;
}
.table-selected {
  stroke: blue;
  stroke-width: 2px;
}
.table-booked {
  fill: red;
}
.room {
  fill: darkgray;
}
.container-fluid {
  min-height: 100%;
  padding: 0px;
  margin-bottom: -50px;
  }