#InteractiveSVGWrapper {
  visibility: hidden;
  width: 100%;
  max-width: 700px;
  position: absolute;
  border: 1px solid black;
  margin-bottom: 30px;
}
.card-body{
  padding: 0px;
}
.card-new{
  padding-top: 10px;
}
svg {
  background-color: white;
}

body {
  display: flex;
  justify-content: center;
}

.tables {
  fill: green;
  width: none;

}
.table-selected {
  stroke: blue;
  stroke-width: 2px;
}
.table-booked {
  fill: red;
}
.room {
  fill: darkgray;
}
.container-fluid {
  min-height: 100%;
  padding: 0px;
  margin-bottom: -50px;
  }
  #resizable {
    min-width: 38px;
    min-height: 38px;
    padding: 0.5em;
    background: #ccc;
    max-width: 218px;
    max-height: 218px;
    margin:auto;
 }
.col-sm{
  margin-bottom: 15px;
}
 .card-load,.card-add-tables,.card-add-walls, .card-update, .card-save, .card-delete {
   display: none;
}
#update-response-text, #save-response-text{
  visibility: hidden;
  margin-top: 15px;
}
.add-fluid{
  
}
.form-group{
  margin: auto;
  margin-bottom: 10px;
}
h2{
    text-transform: uppercase;
}


#addWall{
  display: none;
}
#myDivCanvas{
  height: 400px;
  max-width: 700px;
  margin: auto;
  border: 1px solid black;
}